# KiCad files
pcb/*
!pcb/*/
!pcb/*.*
pcb/BlinkStickAdvanced-backups/

# Build Files
BlinkStickAdvanced/Debug/
BlinkStickAdvanced/Release/
BlinkStickAdvanced/*.o
BlinkStickAdvanced/*.hex
BlinkStickAdvanced/*.elf

BlinkStickAdvanced/serial.txt

API/

# Microchip Studio files
.vs/

# Git files
.git/

# Backup files
*.bak
BlinkStickAdvanced/*.bak